*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.vscode/
dist/
build/
tethysapp/app_store/workspaces/app_workspace/apps/
tethysapp/app_store/workspaces/app_workspace/gitsubmission/
tethysapp/app_store/workspaces/app_workspace/install_status/
tethysapp/app_store/workspaces/app_workspace/logs/
tethysapp/app_store/workspaces/app_workspace/develop/

docs/_build
.vscode/
