*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
dist/
build/
tethysapp/warehouse/workspaces/app_workspace/apps/
tethysapp/warehouse/workspaces/app_workspace/gitsubmission/
docs/_build