*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.vscode/
dist/
build/
tethysapp/warehouse/workspaces/app_workspace/apps/
tethysapp/warehouse/workspaces/app_workspace/gitsubmission/
tethysapp/warehouse/workspaces/app_workspace/install_status/
tethysapp/warehouse/workspaces/app_workspace/logs/

docs/_build
.vscode/
