<div class="modal fade" id="offline-modal" style="z-index:3000; margin-top:10%;"  tabindex="-1" role="dialog" aria-labelledby="offline-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="offline-modal-label">Backend Server Offline</h5>
            </div>
            <div class="modal-body" id="offline-container">
                The server is currently offline. It might be restarting due to changes made during the install process. 
                Please wait for it to come back online, or check your logs if you see this screen for over 30 seconds.
            </div>
            <div class="modal-footer">
                <!-- <button class="btn btn-success" data-dismiss="modal" disabled>Finish</button> -->
            </div>
        </div>
    </div>
</div>