{% load staticfiles %}
<div class="modal fade" id="uninstall-app-modal" style="z-index:2000; margin-top:10%;" tabindex="-1" role="dialog" aria-labelledby="uninstall-app-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uninstall-label">Application Uninstall Status</h5>
                <h6 id="uninstall_processing_label"></h6>
            </div>
            <div class="modal-body" id="add-app-container">
                <div>
                    <p id="uninstallingAppNotice"></p>
                    <p class="lead" id="uninstallNotices">
                    </p>
                </div>
                <div id="successMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-success text-white">
                    <p>Application Has Been Uninstalled
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div id="loadingTextAppSubmit"></div>
                <div id="uninstallLoaderEllipsis" class="lds-ellipsis pull-right">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <br />
                <button class="btn btn-danger pull-left" id="yesUninstall" onClick="uninstall()">Yes</button>
                <button class="btn btn-primary pull-right" id="noUninstall" data-dismiss="modal">No</button>
                <!--  <button class="btn btn-danger pull-right" style="margin-top:10px;" data-dismiss="modal" aria-hidden="true" id="cancelAddButton"> Cancel </button> -->
                <button class="btn btn-success pull-right" style="margin-top:10px;display:none;" data-dismiss="modal" aria-hidden="true" id="doneUninstallButton"> Done </button>
            </div>
        </div>
    </div>
</div>