#overlay {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2500;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.over-overlay {
  z-index: 2600;
}
.hidden {
  display: none;
}
.modal-body {
  max-height: calc(100vh - 350px);
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-info {
  color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-primary {
  color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

#versions {
  min-width: 100px;
}

.select2-dropdown {
  z-index: 1100;
}

.tethys-platform-version, .main-app-list {
  width: 70%;
  margin-left: 15%;
}

.installed-app-list {
  width: 70%;
  margin-left: 15%;
}
.button-spaced {
  margin-right: 10px;
}

#loadingTextAppSubmit {
  margin-bottom: -4%;
}

.lds-ellipsis {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #282b29;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.container {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: -15%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  /* border: 2px solid black; */
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 20px;
  right: 0;
  margin: auto;
}
.loader--text:after {
  content: "Fetching Tethys Applications ";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.showHandIcon:hover {
  cursor: pointer;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Fetching Tethys Applications";
  }
  25% {
    content: "Fetching Tethys Applications.";
  }
  50% {
    content: "Fetching Tethys Applications..";
  }
  75% {
    content: "Fetching Tethys Applications...";
  }
}

.title-class{
  margin-bottom: 0px;
  margin-top: 10px;
}

/* .row_store_submission{
  display: flex;
  align-content: center;
  align-items: center;
} */

.loader_and_title{
  display: flex;
  gap:10px;
}

.branches-form{
  padding-top: 10px;
}

#processBranchButton{
  margin-top: 10px;
}

.multiple_stores_labels{
  display: flex;
  flex-direction: column;
  gap: 10px;

}



.store_label_val{
  /* flex: 1 1 70%; */
  text-align: center;
}

.store_label_val a{
  text-decoration: none;
}

.table_small_font{
  font-size:  12px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent !important;
  filter: drop-shadow(2px 4px 6px black);
}