#nav p {
    color: whitesmoke;
    margin-top:30px;
    margin-right:15px;
    display:inline-block;
    font-size:155%
}

#nav ul {
    display: inline-block;
    margin-top:35px
}

#nav ul li {
    display: inline;
    margin-right:30px;
}

#nav ul li a{
    font-size: 155%;
    color:whitesmoke;
    text-decoration: none;
}

#nav ul li a:hover {
    font-size: 145%;
    color: #0073e6;
    text-decoration: none;
}

#icon a {
    text-decoration:none;
    font-size:150%;
    color: #737373;
    margin-top: 30px;
}

#icon a:hover {
    color: #000000;
}

#icon img {
    width:85%;
    hight:85%;
}

#icon img:hover {
   width:80%;
   hight:80%;
}


/* new contents to add responsive nav bar*/

.topnav {
  overflow: hidden;
  /*background-color: #333;*/
    max-height: 150%;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding:10px 10px;
  font-size: 155%;
  font-weight:bold;
  color:whitesmoke;
  text-decoration: none;
}

.topnav a:hover {
    font-size: 155%;
    font-weight:bold;
    color: #0073e6;
    text-decoration: none;
}

.topnav .icon {
  display: none;
     position: absolute;
    right: 0;
    top: 0;
}


@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
  .settings-button{
      visibility:hidden;
  }

@media screen and (max-width: 800px) {
  /*.topnav.responsive {position: relative;}*/
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: -6px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive {
      max-height: none;
      background-color: #99ccff;
      position: absolute;
      top: 6px;
      left: 110px;
      right: 0;

  }


    }

@media only screen and (max-width: 1275px) {

   body {
      font-size: 0.9em;
   }

}