{% extends "tethys_apps/app_base.html" %}

{% load static %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}



{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'app_store/css/select_toggle.css' %}" rel="stylesheet"/>
  <link href="{% static 'app_store/css/input_toggle.css' %}" rel="stylesheet"/>
  <link href="{% static 'app_store/css/custom_table.css' %}" rel="stylesheet"/>
  <link href="{% static 'app_store/css/labels.css' %}" rel="stylesheet"/>
  <link href="{% static 'app_store/css/main.css' %}" rel="stylesheet"/>
  <link href="{% static 'app_store/css/card.css' %}" rel="stylesheet"/>

{% endblock %}

{% block scripts %}
  <script>
  const warehouseHomeUrl = "{% url 'app_store:home' %}";
  var active_stores = {}
  var active_store = ''
  var labels_style_dict = {}
  </script>
  {{ block.super }}  
  <script src="{% static 'app_store/js/utilities.js' %}" type="text/javascript"></script>
  <script src="{% static 'app_store/js/getHTML.js' %}" type="text/javascript"></script>
  <script src="{% static 'app_store/js/mainTable.js' %}" type="text/javascript"></script>
  <script src="{% static 'app_store/js/addModalHelpers.js' %}" type="text/javascript"></script>
  <script src="{% static 'app_store/js/main.js' %}" type="text/javascript"></script>
{% endblock %}