#overlay {
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 2500;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.over-overlay {
	z-index: 2600;
}

.modal-body {
	max-height: calc(100vh - 350px);
	overflow-y: auto;
}

.main-app-list {
	width: 70%;
	margin-left: 15%;
}

.button-spaced {
	margin-right: 10px;
}
