/* MAP STYLES */
#map {
    width: 100%;
    height: 100%;
}

#map_view_outer_container {
    position: relative;
    margin: 20px;
}

#submit-warning {
    color: red;
    font-weight: bold;
}

.bootstrap-tagsinput,
#resource-type {
    width: 100%;
}

.error {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 4%;
}

.uploading {
    background-color: yellow;
    color: darkblue;
    text-align: center;
}

.hide-search {
    display: none !important;
}

.success {
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 4%;
}

.checkbox {
    text-indent: 15px;
}

.ol-mouse-position {
    top: 10px;
    right: 40px;
}

.steps {
    font-size: 16px;
    margin: 0;
}

#detail-map {
    height: 500px;
    margin-bottom: 10px;
}

#inputDays {
    width: 250px;
}

#endDate {
    width: 250px;
}

#getsnow {
    width: 250px;
}

#inputLat {
    width: 120px;
}

#inputLon {
    width: 120px;
}

#byu-logo-container {
    float: left;
    position: absolute;
    bottom: 8px;
}

#byu-logo-container img {
    float: left;
    height: 50px;
    width: 50px;
}

#byu-logo-container span {
    position: relative;
    top: 25px;
    margin-left: 10px;
}

#chart-label {
    text-align: center;
}

.ol-mouse-position {
    top: 10px;
    right: 40px;
}

.ol-mycontrol {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
