{% extends "warehouse/base.html" %}
{% load staticfiles tethys_gizmos tags %}


{% block styles %}
{{ block.super }}
<link href="{% static 'tethys_apps/css/app_library.css' %}" rel="stylesheet"/>
{% endblock %}

{% block header_buttons %}
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
</div>
{% endblock %}

{% block app_content %}
<div class="app-library-wrapper clearfix">
    {% if resources %}
    <div class="container" align="center">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="filter-container isotopeFilters">
                    <ul class="list-inline filter">
                        <li><a href="#" data-filter="*" class="tag-button active">All </a></li>
                        {% for tag in tags%}
                        {% if tag %}
                        <li><a href="#" data-filter=".{{ tag }}" class="tag-button">{{ tag }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="app-list" class="isotopeContainer">
        {% for resource in resources %}
        <a class="app-container isotopeSelector {{resource.tag_class}}" id="app_button"
           data-install-url="{% url 'warehouse:install' %}?name={{ resource.name }}">
            <div class="app-icon">
                <img {% if resource.metadata.icon %}
                     src="{% static resource.metadata.icon %}"
                     {% else%} src="{% static 'tethys_apps/images/default_app_icon.gif' %}"
                     {% endif %}/>
            </div>
            <div class="app-title" data-app-theme-color="{{ resource.color }}">
                <span>{{ resource.name }}</span>
            </div>
            <div class="color-effect" data-app-theme-color="{{ resource.color }}"></div>
            <div class="app-help-icon">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </div>
            <div class="app-help-info hidden">
                <p>{% if resource.description %}{{ resource.description }}{% else %}{% endif %}</p>
            </div>
            <div class="app-help-close hidden">X</div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="no-apps-loaded-message">There are no apps available on the application store</h2>
    {% endif %}
</div>
{% endblock %}


{% block after_app_content %}
{% gizmo install_message_box %}
<div id="loaderImage" hidden>
    <img width="100px" src="{% static 'warehouse/images/loader.gif' %}"/>
</div>
{% endblock %}


{% block app_actions %}

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'tethys_apps/vendor/imagesloaded.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tethys_apps/vendor/masonry.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tethys_apps/js/app_library.js' %}" type="text/javascript"></script>
<script src="{% static 'tethys_apps/js/isotope.pkgd.min.js' %}" type="text/javascript"></script>
{% endblock %}