<div class="card card-default installed-app-list">
    <div class="card-header">Installed Tethys Applications</div>
    <div class="card-body">
        <table data-toggle="table" data-search="true" data-show-search-clear-button="true" data-toolbar="#toolbar" data-show-columns="true" id="installedAppsTable" data-show-toggle="true" data-detail-view="true" data-detail-formatter="detailFormatter">
            <thead>
                <tr>
                    <th data-field="name">Tethys App Name</th>
                    <th data-field="installedVersion">Installed Version</th>
                    <th data-field="latestVersion">Latest Version</th>
                    <th data-field="operate" data-formatter="operateFormatter2" data-events="operateEvents">Actions</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="card-footer ">
    </div>
</div>