/*****************************************************/

/*****************************************************/
/*              OVERRIDE TETHYS DEFAULT              */

#app-header .tethys-app-header .icon-wrapper img {
    border-radius: 0 !important;
    height: 50px !important;
}

/*****************************************************/

/*****************************************************/
/*                   GENERAL MODAL                   */

.modal-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-header {
    min-height: 70px;
}
.modal-body {
    position: fixed;
    top: 70px;
    bottom: 65px;
    right: 1px;
    left: 0;
    overflow-y: auto;
}
.modal-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 65px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.footer-info {
    text-align: left;
    margin-left: 5px;
}
.modal-body td, .modal-body th {
    padding: 10px;
}
.modal-info {
    margin-right: 38%;
}
.model-btn {
    background-color: #915F6D;
    color: white;
}
.model-btn:not(:disabled):hover {
    background-color: #744c57;
    color: white;
}

#model-options-view select {
    width: 145px !important;
}

/*****************************************************/

/*****************************************************/
/*                  MODEL REP MODAL                  */

#modal-model-rep .modal-dialog {
    width: auto;
    margin: 40px;
}
#modal-model-rep tbody tr:hover {
    background-color: #0099ff;
    color: white;
    cursor: pointer;
}
#modal-model-rep .modal-body {
    bottom: 110px;
    right: 1px;
    left: inherit;
}
#div-chkbx-model-auto-close {
    position: fixed;
    bottom: 65px;
    margin: 10px 0 5px 0;
    height: 30px;
}
#chkbx-model-auto-close {
    margin-left: 25px;
}

input[type="radio"] {
    cursor: pointer;
}

/*****************************************************/

/*****************************************************/
/*                SEARCH MODAL                 */

#modal-search .modal-dialog {
    height: 280px;
    width: 164px;
}

/*****************************************************/

/*****************************************************/
/*                TIME OPTIONS MODAL                 */

#modal-time .modal-dialog {
    height: 450px;
    width: 340px;
}

/*****************************************************/

/*****************************************************/
/*                ENERGY OPTIONS MODAL               */

#modal-energy .modal-dialog {
    height: 280px;
    width: 340px;
}

/*****************************************************/

/*****************************************************/
/*              REACTIONS OPTIONS MODAL              */

#modal-reactions .modal-dialog {
    height: 390px;
    width: 370px;
}

/*****************************************************/

/*****************************************************/
/*                REPORT OPTIONS MODAL               */

#modal-report .modal-dialog {
    height: 280px;
    width: 340px;
}

/*****************************************************/

/*****************************************************/
/*                CURVE EDITOR MODAL                 */

#modal-curve .modal-dialog {
    height: 700px;
    width: 800px;
}

/*****************************************************/

/*****************************************************/
/*                PATTERN EDITOR MODAL               */

#modal-pattern .modal-dialog {
    height: 700px;
    width: 800px;
}

/*****************************************************/

/*****************************************************/
/*               CONTROLS EDITOR MODAL               */

#modal-controls .modal-dialog {
    height: 700px;
    width: 600px;
}

#modal-controls input {
    width: 60px;
}

#modal-controls tr {
    border-bottom: 1px solid #cccccc;
}

/*****************************************************/

/*****************************************************/
/*                RULES EDITOR MODAL                 */

#modal-rules .modal-dialog {
    height: 600px;
    width: 505px;
}

#modal-rules tr {
    border-bottom: 1px solid #cccccc;
}

#modal-rules p {
    margin: 0 0 3px;
}

/*****************************************************/

/*****************************************************/
/*                UPLOAD MODEL MODAL                 */

#modal-upload .modal-dialog {
    height: 300px;
    width: 400px;
}

/*****************************************************/

/*****************************************************/
/*                 NODE AND EDGE MODAL               */

#modal-node .modal-dialog, #modal-edge .modal-dialog {
    position: absolute;
    width: 350px;
    height: 620px;
}


.dual-properties {
    width: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.model-options, .inp-properties, .inp-options, #node-id, #edge-id {
    margin-bottom: 10px;
}

.dual-properties:read-only, .inp-properties:read-only, .model-options:read-only, .inp-options:read-only, #node-id:read-only, #edge-id:read-only {
    background-color: lightgray;
    border: none;
    padding-left: 5px;
}

#modal-node select, #modal-edge select {
    width: 145px !important;
}

/*****************************************************/

/*****************************************************/
/*                      GENERAL                      */

#model-container {
    height: 500px;
    width: 800px;
    position: relative;
    background-color: #F0F8FF;
    margin:0 auto;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.ui-tabs-active a {
    background-color: #915F6D;
    border: none;
}
a:focus {
    outline: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none !important;
    background: none !important;
}
.btn-default.focus, .btn-default:focus {
    color: white;
    background-color: #915F6D;
}

/*****************************************************/

/*****************************************************/
/*                   MODAL SWITCH                    */

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.switch input {
    display:none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #286090;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14);
    transform: translateX(14px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.label-info {
    background-color: #286090;
}
dl {
    position: relative;
    margin:0 auto;
    width: 609px;
    background: #fff;
    border: 1px solid #00000036;
    padding: 5px 15px;
    margin-top: 20px;
    -webkit-user-select: none;
}
dt, dd {
    display: inline;
}
dd {
    margin-right: 10px;
}
#animate-toolbar {
    position: relative;
    margin:0 auto;
    width: 800px;
    background: rgba(95, 95, 95, 0.26);
    text-align: center;
    align-items: center;
}
#animate-tools {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 12px;
}
#animate-options {
    display: inline-block;
}
.animate {
    margin-bottom: 0 !important;
}
#slider {
    margin: 5px;
}
.gradient {
    width: 200px;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    top: 4px;
    padding-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
}
.grad-step {
    display: inline-block;
    height: 20px;
    width: 1%;
}
.gradient .domain-min {
    position: absolute;
    left: 0;
    font-size: 11px;
    bottom: 3px;
}
.gradient .domain-med {
    position: absolute;
    right: 25%;
    left: 25%;
    text-align: center;
    font-size: 11px;
    bottom: 3px;
}
.gradient .domain-max {
    position: absolute;
    right: 0;
    font-size: 11px;
    bottom: 3px;
}
.slct-results {
    width: 100px;
}
.graphNode {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
.graphLabel {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
.graphVertex {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
}
h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-family: 'Lato', sans-serif;
}
.no-close .ui-dialog-titlebar-close {
    display: none;
}
.table th, .table td {
    white-space: nowrap !important;
    padding: 0 !important;
    border-top: none !important;
    padding-right: 10px !important;
}
.table-nonfluid {
    width: auto !important;
}
#modal-upload td {
    padding: 8px !important;
}
.form-control {
    display: inline !important;
    width: inherit !important;
}
.glyphicon-info-sign:before {
    padding: 5px;
    vertical-align: middle;
    color:#ccc;
    font-size: 1.5em;
}
#filters-container {
    margin-top: 25px;
}

.icon-bar {
    width: 800px;
    margin:auto;
    background-color: #555;
    overflow: auto;
    margin-top: 0;
}

.icon-bar a {
    float: left;
    width: 72.7px;
    height: 55px;
    padding:10px;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 1.5em;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #915F6D !important;
}

.tool-icon {
    width: 40px;
    height: 40px;
    margin:auto;
}
div.inline { float:left; }
.clearBoth { clear:both; }
#byu-logo-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    overflow-y: visible;
    height: 60px;
    width: 150px;
}
#byu-logo-container img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
}
#byu-logo-container span {
    position: absolute;
    bottom: 0;
    left: 55px;
    width: 150px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
}

.options-buttons {
    width: 140px;
    margin-bottom: 13px;
}

#query-toolbar {
    background-color: #a9c0d3;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: inline-block;
    float: left;
}

.btn-group {
    float: right;
    cursor:pointer;
}
