{% load static %}
<div class="modal" id="add-app-modal" style="z-index:2000;" tabindex="-1" role="dialog" aria-labelledby="add-app-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-app-modal-label">Submit your application to the Tethys App Store</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="add-app-container">
                <div>
                    <p>
                        Click <a href="//tethys-app-store.readthedocs.io/en/latest/appsubmit.html" target="_blank">Here</a> to get instructions on how to prepare your app for submission to the app store.</p>
                    <p> Please enter the GitHub URL of your application Repo and an email address which will be notified once the build is complete and your application is available on the Tethys App Store</p>
                </div>
                 <div class="form-group">
                    <label for="notifEmail">Notification Email</label>
                    <input type="text" class="form-control" id="notifEmail" placeholder="Email Address to notify on build">
                </div>
                <div class="form-group">
                    <label for="githubURL">GitHub URL</label>
                    <input type="text" class="form-control" id="githubURL" placeholder="GitHub Repository URL">
                </div>

                <p class="title-class">Available Stores</p>
                <div id="storeList">

                </div>
                
                <button class="btn btn-primary pull-right mt-3" id="fetchRepoButton" onClick="getRepoForAdd()"> Fetch Repository </button>
                <!-- <div id="branchesList"></div> -->
                <button class="btn btn-primary pull-right" style="display:none;" id="processBranchButton"> Submit </button>
                <!-- <div id="successMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-success text-white">
                    <p>Your Tethys Application has been successfully queued for processing.You will be notified via email when you application is available on the Tethys App Store. <span id="SuccessLinkMessage">Click <span id="addSuccessLink">here</span> to follow the processing logs and inspect it for errors.</span>
                </p>
                </div>
                <div id="failMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-info text-white">
                    
                </div> -->
            </div>
            <div class="modal-footer">
                <div id="loadingTextAppSubmit"></div>
                <div id="loaderEllipsis" class="lds-ellipsis pull-right">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <button class="btn btn-danger pull-left" style="margin-top:10px;" data-bs-dismiss="modal" aria-hidden="true" id="cancelAddButton"> Cancel </button>
                <button class="btn btn-success pull-right" style="margin-top:10px;display:none;" data-bs-dismiss="modal" aria-hidden="true" id="doneAddButton"> Done </button>
            </div>
        </div>
    </div>
</div>

