{% load static %}
<div class="modal" id="notification" name="notification" tabindex="-1" role="dialog" aria-labelledby="notification-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notification-label">Application Install Status</h5>
                <h6 >Installing: <p style="display:inline;" id="installingAppName"></p></h6>
            </div>
            <div class="modal-body">
                 <p class="lead">
                 </p>
            </div>
            <div class="modal-footer">
                <div id="installLoaderEllipsis" class="lds-ellipsis pull-right">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <button class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-hidden="true" id="mainCancel"> Cancel </button>
                <a id="doneInstallButton" class="btn btn-primary" aria-hidden="true" style="display:none;"> Done </a>
                <a id="goToAppButton" target="_blank" class="btn btn-success" style="display:none;" href="{% url 'app_library' %}"> Visit App Library </a>
            </div>
        </div>
    </div>
</div>