{% load static %}
<div class="modal" id="update-app-modal" style="z-index:2000;" tabindex="-1" role="dialog" aria-labelledby="update-app-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-label">Application Update Status</h5>
            </div>
            <div class="modal-body" id="add-app-container">
                <h6 id="update-processing-label"></h6>

                <div>
                    <div id="pre-update-notice">
                    <p>Installed Version: <span id="current-version-update"></span></p>
                    <p>Latest Available Version: <span id="latest-version-update"></span></p>
                    <p style="display: flex;gap:10px;">Change Installed version: <span id="install-dropdown-update"></span></p>
                    
                </div>
                    <p id="update-app-notice"></p>
                    <p class="lead" id="update-notices">
                    </p>
                </div>
                <div id="update-success-message" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-success text-white">
                    <p>Application Has Been Updated
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div id="loading-text-update"></div>
                <div id="update-loader" class="lds-ellipsis pull-right">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <br />
                <button class="btn btn-success pull-right" id="yes-update" onClick="update()">Yes</button>
                <button class="btn btn-danger pull-left" id="no-update" data-bs-dismiss="modal">No</button>
  
                <button class="btn btn-success pull-right" style="margin-top:10px;display:none;" aria-hidden="true" id="done-update-button"> Done </button>
            </div>
        </div>
    </div>
</div>