name: main
on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: python -m pip install --upgrade pyyaml
      - name: Gen Build Command
        run: |
          python ./conda.recipes/getChannels.py > build_command.txt
      - name: publish-to-conda
        uses: romer8/conda-package-publish-action@master
        with:
          subDir: 'conda.recipes'
          AnacondaToken: ${{ secrets.ANACONDA_TOKEN }}
